body {
    text-align: center; 
    margin: 10% auto;
    
    background-image: url("1-01.svg");
}

.container {
    display: inline-block;
    /* text-align: center; */
    /* width: 50%; */
  
    margin-top: 50px;
    background-color: rgba(78, 73, 73, 0.486);
    /* text-align: center;
    margin: 0 auto; */
    width: 400px;
}
.container input {
    padding: 5px;
    max-width: 300px;
}
